# vercel
.vercel

# node modules
node_modules

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# nextjs build files
.next

# build folders
dist
build

# logs
*.log
npm-debug.log
yarn-debug.log
yarn-error.log